In [1]:
import numpy as np

In [5]:
arr_2d = np.array([[5,10,15], [20,25,30], [35,40,45]])
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [6]:
arr_2d.shape

(3, 3)

In [7]:
arr_2d[0]

array([ 5, 10, 15])

In [8]:
arr_2d[2]

array([35, 40, 45])

In [9]:
arr_2d[1,2]

30

In [10]:
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [12]:
arr_2d[1,1]

25

In [13]:
# Will give row 0 and 1 , not including 2
arr_2d[:2]

array([[ 5, 10, 15],
       [20, 25, 30]])

In [19]:
arr_2d[1:3]

array([[20, 25, 30],
       [35, 40, 45]])

In [20]:
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [21]:
# Row 0 to 2
# And then column 1 till end
arr_2d[:2,1:]

array([[ 5, 10, 15],
       [20, 25, 30]])